In [1]:
import psycopg2

# Establish a connection to the PostgreSQL server
conn = psycopg2.connect(
    host="localhost",
    port="5432",
    user="postgres",
    password="csc102"
)

# Create a new database
new_db_name = "comp_sci_dpt"
conn.autocommit = True
cursor = conn.cursor()
cursor.execute(f"CREATE DATABASE {new_db_name};")

cursor.close()


# Close the connection
conn.close()

In [9]:
 import psycopg2
# Establish a connection to the PostgreSQL server
conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="comp_sci_dpt",
    user="postgres",
    password="csc102"
)
# Create a cursor object
cursor = conn.cursor()

# Define the CREATE TABLE statement
create_table_query = '''
    CREATE TABLE csc102_class_list (
       first_name varchar,
        middle_name varchar,
         surname varchar )
'''

# Execute the CREATE TABLE statement
cursor.execute(create_table_query)


# Commit the changes
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

DuplicateTable: relation "csc102_class_list" already exists

In [11]:
import pandas as pd
import psycopg2

# Establish a connection to the PostgreSQL server
conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="comp_sci_dpt",
    user="postgres",
    password="csc102"
)

# Create a cursor object
cursor = conn.cursor()

# Define the INSERT statement
insert_query = '''
    INSERT INTO  csc102_class_list (first_name, surname, middle_name)
    VALUES (%s, %s, %s)
'''

# Read the CSV file using pandas
data = pd.read_csv("csc102_class_list.csv")

# Iterate over each row in the DataFrame and insert the values into the database
for index, row in data.iterrows():
    first_name = row['FIRST NAME']
    surname = row['SURNAME']
    middle_name = row['MIDDLE NAME']
    values = (first_name, surname, middle_name)
    
    # Execute the INSERT statement
    cursor.execute(insert_query, values)

# Commit the changes
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()