In [3]:
import psycopg2

# Establish a connection to the PostgreSQL server
conn = psycopg2.connect(
    host="localhost",
    port="5432",
    user="postgres",
    password="csc102"
)

# Create a new database
new_db_name = "mtn_nigeria"
conn.autocommit = True
cursor = conn.cursor()
cursor.execute(f"CREATE DATABASE {new_db_name};")

cursor.close()


# Close the connection
conn.close()

DuplicateDatabase: database "mtn_nigeria" already exists

In [8]:
# Establish a connection to the PostgreSQL server
conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="mtn_nigeria",
    user="postgres",
    password="csc102"
)
# Create a cursor object
cursor = conn.cursor()

# Define the CREATE TABLE statement
create_table_query = '''
    CREATE TABLE customer_info (
        name varchar,
        email varchar,
        State_of_residence varchar,
        mobile varchar )
'''

# Execute the CREATE TABLE statement
cursor.execute(create_table_query)


# Commit the changes
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

DuplicateTable: relation "customer_info" already exists

In [10]:
import psycopg2

# Establish a connection to the PostgreSQL server
conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="mtn_nigeria",
    user="postgres",
    password="csc102"
)

# Create a cursor object
cursor = conn.cursor()

# Define the INSERT statement
insert_query = '''
    INSERT INTO customer_info (name, email ,State_of_residence ,mobile )
    VALUES (%s, %s, %s,%s)
'''

# Define the values to be inserted
values = ("Favor Okpara-Ngbo","fokpara-ngbo@mtn.com","Lagos" ,"08038212938")
values = ("Joshua Asekhauno","jasekhauno@mtn.com","Portharcourt","080374930210",)
values = ("Collins Odoh-Ifeanyi","codoh-ifeanyi@mtn.com","Abuja","08067392029",)
values = ("Chibundum Umeh","cumeh@mtn.com","Owerri","0803493712348")
values = ("Clinto Okpara","cokpara@mtn.com","Kaduna","08068381138")

# Execute the INSERT statement
cursor.execute(insert_query, values)

# Commit the changes
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()