In [21]:

Names = ['Samantha', 'Jada', 'Jane', 'Claire', 'Elizabeth', 'Mary', 'Susan', 'Waje', 'Taibat', 'Lilian']
Age = [17, 16, 17, 18, 16, 18, 17, 20, 19, 17]
Height = [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5]
Scores = [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]

print("Names   | Age | Height | Scores")
print("--------+-----+--------+-------")

for name, age, height, score in zip(Names, Age, Height, Scores):
    print(name, age, height, score)

Names   | Age | Height | Scores
--------+-----+--------+-------
Samantha 17 5.5 80
Jada 16 6.0 85
Jane 17 5.4 70
Claire 18 5.9 60
Elizabeth 16 5.6 76
Mary 18 5.5 66
Susan 17 6.1 87
Waje 20 6.0 95
Taibat 19 5.7 50
Lilian 17 5.5 49